@import url(https://fonts.googleapis.com/css?family=Roboto:100);
.Home {
  background-color: #111;
  color: #f14949;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  height: 90vh;
}

.centered {
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

h1 {
  font-size: 40px;
}